body
{
    background-color:#38270f;
}
section
{
    background-color:#573a15;
    border-radius: 25px;
    padding: 1.5%;
    margin: 1.5%;
}
div
{
    background-color:#8d642e;
    border-radius: 25px;
    padding: 1.5%;
    margin: 1.5%;
}
h1
{
    font-size: 40px;
    font-weight: bold;
    color: #ffc400;
    text-decoration: underline;
    margin: 1% 0;
}
h2
{
    font-size: 30px;
    color: #ffd651;
    text-decoration:solid ;
    margin: 1% 0;
}
h3
{
    font-size: 20px;
    margin: 1% 0;
}
img
{
    width: 50%;
    border-radius: 25px;
}
